@import url('https://fonts.cdnfonts.com/css/library-3-am');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    transition: background-color 0.5s ease; /* Add a transition for background color change */
}

header {
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.transparent-bg {
    background-color: transparent;
    padding: 20px;
    transition: background-color 0.3s ease;
}

.transparent-bg:hover {
    background-color: #000000; /* Dark background color on hover */
    
}

header h1 {
    font-family: 'LIBRARY 3 AM', sans-serif;
    background: linear-gradient(to bottom,  rgb(255, 255, 255),#d6c09d, #ff9900);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 500%;
    text-align: center; /* Adjust text alignment as needed */
    transition: font-size 0.5s ease; /* Add a transition for font size change */
    margin: 0;
}


nav ul {
    list-style-type: none;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    padding: 0;
    display: flex; /* Display items as a flex container */
    justify-content: space-between; /* Distribute items equally */
    align-items: center; /* Center items vertically */
}

nav li {
    
    font-family: 'Nova Square', sans-serif;
    color: #e4e4e4;
    font-size: 170%;
}

.gold-btn {
    text-decoration: none;
    color: #fff; /* Default text color */
    padding: 10px;
    transition: color 0.3s ease; /* Add a transition for color change */
}

.gold-btn:hover {
    color: #ff9900; /* Gold text color on hover */
}

/* Add a new style for the scrolled class */
body.scrolled {
    background-color: rgb(255, 206, 46); /* Gold background color when scrolled */
}

/* Style for the placeholder */
.placeholder {
    height: 300px; /* Adjust the height as needed; should match the header height */
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.button-container {
    width: 40%; /* Adjust the width to fit two columns */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 205, 125, 0.8); /* Semi-transparent background color */
    padding: 4%;
    font-size: 120%;
    font-weight: 100;
    font-family: 'Nova Square', sans-serif;
    border-radius: 15px; /* Rounded corners */
    margin-bottom: 10px; /* Add margin for spacing between rows */
}


